<div class="modal-header">
    <h3 class="modal-title">Post an answer</h3>
</div>
<form name="userForm" ng-submit="submitAnswer()" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error' : !user.name && !userForm.name.$pristine}">
            <label>Name</label>
            <input type="text" name="name" ng-model="user.name" class="form-control" />
        </div>
        <div class="form-group" ng-class="{'has-error' : !user.answer && !userForm.answer.$pristine}">
            <label>Answer</label><br />
            <textarea name="answer" ng-model="user.answer" rows="6" cols="60" class="form-control" />
        </div>
        <div class="form-group" ng-class="{'has-error' : !user.rating && !userForm.rating.$pristine}">
            <label>Rating</label><br />
            <uib-rating
                    class="text-warning"
                    style="font-size: 30px"
                    ng-model="user.rating"
                    on-leave="overStar = null"
                    titles="['one','two','three']"
                    aria-labelledby="default-rating"></uib-rating>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="! user.name || ! user.answer || !user.rating" />
    </div>
</form>